@import 'colors/colors';
@import 'fonts/font';

.search-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;

  @media (min-width: 376px) {
    padding: 30px 10%;
  }

  &__title{
    color: $color-white;
    font-weight: $font-medium;
    font-size: 1.3em;
    margin-bottom: 20px;
    @media (min-width: 375px) {
      font-size: 1.7em;
      margin-bottom: 25px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    width: 100%;

    @media (min-width: 376px) {
      width: 50%;
    }
  }
  &__error {
    color: $color-white;
  }
}

.button {
  background-color: $color-black;
  height: 48px;
  width: 48px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-primary;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;

  @media (min-width: 376px) {
    height: 58px;
  }

  &--disabled {
    cursor: default;
    background-color: $color-disabled;
    border: 1px solid $color-disabled;
    pointer-events: none;
  }

  img {
    width: 12px;
    height: 12px;
    @media (min-width: 376px) {
      height: 18px;
      width: 18px;
    }
  }

}

.input {
  height: 28px;
  width: calc(100% - 50px);
  border: 1px solid $color-primary;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: unset;
  padding: 10px;
  font-size: 1.1em;
  font-weight: $font-medium;
  color: $color-black;
  @media (min-width: 376px) {
    height: 38px;
  }

  &::placeholder {
    color: $color-secondary;
  }
}