.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &__header {
    width: 100%;
    height: 40%;
    background: no-repeat url("../assets/img/pattern-bg.png");
    background-size: cover;
  }
  &__map {
    width: 100%;
    height: 60%;
  }
}
