<div class="card">
  <div class="card__info">
    <span class="text__label">IP ADDRESS</span>
    <span class="text__value">192.168.174.189</span>
  </div>
  <div class="card__info">
    <span class="text__label">LOCATION</span>
    <span class="text__value">Brooklyn, NY 10001</span>
  </div>
  <div class="card__info">
    <span class="text__label">TIMEZONE</span>
    <span class="text__value">UTC -05:00</span>
  </div>
  <div class="card__info">
    <span class="text__label">ISP</span>
    <span class="text__value">SpaceX Starlink</span>
  </div>
</div>