$color-primary: hsl(0, 0%, 17%);
$color-secondary: hsl(0, 0%, 59%);
$color-disabled: hsl(0, 0%, 95%);
$color-white: #fff;
$color-black: #000;

$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);